body {
    background-color: purple; 
    transition: background-color 1s ease, color 1s ease;
    font-family: Georgia, serif;
    padding: 20px;
    margin: 0;
}

h1 {
    font-family: Georgia, serif;
    color: black;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    color: white;
}

p {
    font-style: italic;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}